image: ruby:3.1

variables:
  JEKYLL_ENV: production
  LC_ALL: C.UTF-8

before_script:
  - gem install bundler
  - bundle install

pages:
  stage: deploy
  script:
    - bundle exec jekyll build -d public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

test:
  stage: test
  script:
    - bundle exec jekyll build -d test_public
  artifacts:
    paths:
      - test_public
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
